<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test01.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>809D23BD1F25DF8C00116FBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>809D23D11F25DF8C00116FBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>809D23DC1F25DF8C00116FBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
